/* Plus Jakarta Sans Variable Font - Best Practices 2025 */

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./PlusJakartaSans-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}